{% extends 'ComoJobeetBundle::layout.html.twig' %}

{% block headline %}Jobbet Job Board

        
{% endblock headline %}

{% block content %}
        {% for category in categories %}     
          <div class="row-fluid ">   

          {% include 'ComoJobeetBundle:Job:list.html.twig' with {'jobs': category.activejobs, 'category': category} %}

            {% if category.morejobs %}
          
            <div>
                <span class="pull-right">
                  and <a href="{{ path('ComoJobeetBundle_category', { 'slug': category.slug }) }}">{{ category.morejobs }}</a>
                  more...
                </span>
            </div>
          {% endif %}
     
      {% endfor %}

      <div class="row-fluid ">   
        <a href="/app_dev.php/job?_format=atom" >Full Feed (Jobs)</a>
      </div>   
{% endblock content %}
